.tital{
   text-align: center;
   font-size: 2rem;
}
.formfill{
    display: flex;
    justify-content: center;
}
#booking-form input{
    margin: 5px;
    height: 20px;
    width: 300px;

}
#booking-form button{
    margin-top: 5px;
    height: 30px;
    width: 150px;
    margin-left: 5px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(184, 113, 28);
    border: none;
    border-radius: 5px;
    transition: transform 0.3s;
    
    

}
#booking-form button:hover{
    transform: scale(0.9);
    background-color: rgb(15, 161, 88);

}
